absl-py==0.10.0
alabaster==0.7.12
alive-progress==1.4.2
apipkg==1.5
appdirs==1.4.4
astor==0.8.1
async-generator==1.10
Babel==2.8.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
CacheControl==0.12.6
cached-property==1.5.2
cachetools==4.1.1
cachy==0.3.0
certifi==2020.12.5
chardet==3.0.4
cleo==0.7.6
clikit==0.4.3
colorama==0.4.3
cryptography==3.1
cursor==1.3.4
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
# dflex==0.0.1
# diff-render-wrappers-mystiking==0.0.1
dill==0.3.2
docutils==0.16
doxypypy==0.8.8.6
execnet==1.7.1
future==0.18.2
fvcore==0.1.2.post20201103
glfw==1.12.0
halo==0.0.29
html5lib==1.1
idna==2.9
imageio==2.8.0
imagesize==1.2.0
imutils==0.5.3
ipympl==0.6.2
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipywebrtc==0.5.0
ipywidgets==7.6.3
jeepney==0.4.3
Jinja2==2.11.2
joblib==0.16.0
jupyter==1.0.0
jupyter-console==6.2.0
jupyterlab-widgets==1.0.0
keyring==20.0.1
lockfile==0.12.2
log-symbols==0.0.14
meshio==4.0.16
more-itertools==8.4.0
msgpack==1.0.0
networkx==2.4
ninja==1.10.0.post1
nose==1.3.7
numexpr==2.7.1
numpy==1.18.5
numpy-stl==2.13.0
nuscenes-devkit==1.0.9
olefile==0.46
opencv-contrib-python==4.4.0.46
opencv-python-headless==4.3.0.36
opt-einsum==3.3.0
pandas==0.25.3
pandocfilters==1.4.2
pastel==0.2.0
pdf2image==1.14.0
pdoc==0.4.1
pip-autoremove==0.9.1
pkginfo==1.5.0.1
pluggy==0.13.1
poetry==1.0.10
portalocker==2.0.0
ptyprocess==0.6.0
py==1.9.0
pybind11==2.5.0
pybullet==3.0.6
pycollada==0.7.1
pygame==2.0.1
pyglet==1.5.2
pyglfw==0.2.2
PyGLM==1.99.3
pylev==1.3.0
pymesh==1.0.2
pymeshfix==0.14.1
pyntcloud==0.1.2
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyopengltk==0.0.3
pyparsing==2.4.7
PyQt5==5.14.0
PyQt5-sip==12.7.1
pyquaternion==0.9.5
pyserial==3.4
PySide2==5.15.2
PySimpleGUI==4.26.0
pytest==5.4.3
pytest-forked==1.2.0
pytest-xdist==1.33.0
python-dateutil==2.8.1
python-utils==2.4.0
pytorch3d==0.3.0
pytz==2019.3
pyvista==0.25.3
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
redner==0.4.28
requests==2.23.0
requests-toolbelt==0.8.0
scikit-image==0.16.2
scikit-learn==0.23.1
scipy==1.4.1
scooby==0.5.6
seaborn==0.10.1
SecretStorage==3.1.2
Send2Trash==1.5.0
shellingham==1.3.2
shiboken2==5.15.2
simplegeneric==0.8.1
SimpleITK==2.0.1
six==1.15.0
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spinners==0.0.24
svgwrite==1.4
tables==3.6.1
tabulate==0.8.7
termcolor==1.1.0
testpath==0.4.4
tetgen==0.5.0
tinyobjloader==0.1
tomlkit==0.5.11
torch==1.7.1
# torch-scatter==2.0.5
torchaudio==0.7.0
torchvision==0.5.0
tqdm==4.32.1
traitlets==4.3.3
trimesh==3.7.12
ttkthemes==3.2.2
urllib3==1.25.8
vtk==9.0.1
webencodings==0.5.1
wxPython==4.0.4
XlsxWriter==3.0.1
yacs==0.1.8
